.slider {
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 50vh;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 45vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-left: -380px;
    transition: all 1s ease;

    img {
        border-radius: 10px;
        width: 90%;
        margin: 20px;
    }
}